In [1]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
import numpy as np

In [2]:
def encode_onehot(df, cols):
    vec = DictVectorizer()

    vec_data = pd.DataFrame(vec.fit_transform(df[cols].to_dict(outtype='records')).toarray())
    vec_data.columns = vec.get_feature_names()
    vec_data.index = df.index

    df = df.drop(cols, axis=1)
    df = df.join(vec_data)
    return df

In [3]:
data = pd.read_csv(r"C:\Temp\thesis_data\credit\crx.data",
                   names=['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9',
                          'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16'], na_values = '?'
                  )
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [4]:
print len(data)
data = data.dropna()
print len(data)
data = data.iloc[np.random.permutation(len(data))]

690
653

In [5]:
data = data.replace({
        'A1':{'a':1.0, 'b':-1.0},
        'A9':{'t':1.0, 'f':-1.0},
        'A10':{'t':1.0, 'f':-1.0},
        'A12':{'t':1.0, 'f':-1.0},
        'A16':{'+':1, '-':0}
    })
data.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
63,1.0,20.42,0.835,u,g,q,v,1.585,1.0,1.0,1,-1.0,g,0.0,0,1
349,-1.0,27.83,1.500,u,g,w,v,2.250,-1.0,1.0,1,1.0,g,100.0,3,0
534,-1.0,31.83,2.500,u,g,aa,v,7.500,1.0,-1.0,0,1.0,g,523.0,0,0
667,1.0,17.92,0.540,u,g,c,v,1.750,-1.0,1.0,1,1.0,g,80.0,5,0
135,-1.0,48.58,6.500,u,g,q,h,6.000,1.0,-1.0,0,1.0,g,350.0,0,1

In [6]:
data = encode_onehot(data, ['A4', 'A5', 'A6', 'A7', 'A13'])
data.head()

C:\Users\tomjur\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: the 'outtype' keyword is deprecated, use 'orient' instead

,A1,A2,A3,A8,A9,A10,A11,A12,A14,A15,...,A6=x,A7=bb,A7=dd,A7=ff,A7=h,A7=j,A7=n,A7=o,A7=v,A7=z
63,1.0,20.42,0.835,1.585,1.0,1.0,1,-1.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
349,-1.0,27.83,1.500,2.250,-1.0,1.0,1,1.0,100.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
534,-1.0,31.83,2.500,7.500,1.0,-1.0,0,1.0,523.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
667,1.0,17.92,0.540,1.750,-1.0,1.0,1,1.0,80.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
135,-1.0,48.58,6.500,6.000,1.0,-1.0,0,1.0,350.0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [7]:
target = data['A16'].values.astype(int)
target

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1])

In [8]:
print data.values.shape
data = data.drop('A16', axis=1)
print data.values.shape

(653L, 43L)
(653L, 42L)

In [9]:
data = data.values.astype(float)
data

array([[  1.   ,  20.42 ,   0.835, ...,   0.   ,   1.   ,   0.   ],
       [ -1.   ,  27.83 ,   1.5  , ...,   0.   ,   1.   ,   0.   ],
       [ -1.   ,  31.83 ,   2.5  , ...,   0.   ,   1.   ,   0.   ],
       ...,
       [ -1.   ,  19.5  ,   9.585, ...,   0.   ,   1.   ,   0.   ],
       [ -1.   ,  31.25 ,   1.125, ...,   0.   ,   0.   ,   0.   ],
       [ -1.   ,  76.75 ,  22.29 , ...,   0.   ,   0.   ,   1.   ]])

In [10]:
target.sum() / float(len(target))

0.45329249617151607

In [11]:
from EvalHelper import eval_classifiers
eval_classifiers(data, target, depths=[3,5,7,15,25], split_data=1)

(653L, 42L)
(653L, 42L)
purities:
0: 653 samples, p: 0.549618320611

depth: 15
CART:
0: 653 samples, acc: 0.885496183206
Approx:
0: 653 samples, acc: 0.832061068702

Approx with bias:
0: 653 samples, acc: 0.725190839695

depth: 25
CART:
0: 653 samples, acc: 0.885496183206
Approx:
0: 653 samples, acc: 0.832061068702

Approx with bias:
0: 653 samples, acc: 0.725190839695

depth: 3
CART:
0: 653 samples, acc: 0.87786259542
Approx:
0: 653 samples, acc: 0.610687022901

Approx with bias:
0: 653 samples, acc: 0.595419847328

depth: 5
CART:
0: 653 samples, acc: 0.916030534351
Approx:
0: 653 samples, acc: 0.770992366412

Approx with bias:
0: 653 samples, acc: 0.595419847328

depth: 7
CART:
0: 653 samples, acc: 0.916030534351
Approx:
0: 653 samples, acc: 0.81679389313

Approx with bias:
0: 653 samples, acc: 0.587786259542

Linear SVM:
0: 653 samples, acc: 0.839694656489

({3: {'CART': [(0, 653, 0.87786259541984735)],
   'approx': [(0, 653, 0.61068702290076338)],
   'approxWithBias': [(0, 653, 0.59541984732824427)]},
  5: {'CART': [(0, 653, 0.91603053435114501)],
   'approx': [(0, 653, 0.77099236641221369)],
   'approxWithBias': [(0, 653, 0.59541984732824427)]},
  7: {'CART': [(0, 653, 0.91603053435114501)],
   'approx': [(0, 653, 0.81679389312977102)],
   'approxWithBias': [(0, 653, 0.58778625954198471)]},
  15: {'CART': [(0, 653, 0.8854961832061069)],
   'approx': [(0, 653, 0.83206106870229013)],
   'approxWithBias': [(0, 653, 0.72519083969465647)]},
  25: {'CART': [(0, 653, 0.8854961832061069)],
   'approx': [(0, 653, 0.83206106870229013)],
   'approxWithBias': [(0, 653, 0.72519083969465647)]}},
 [(0, 653, 0.83969465648854957)],
 [(0, 653, 0.54961832061068705)])

In [12]:
# msk = np.random.rand(len(data)) < 0.8
# train_data  = data[msk,:]
# test_data  = data[~msk,:]
# train_labels = target[msk]
# test_labels = target[~msk]
# print len(data)
# print len(train_data)
# print len(test_data)

In [13]:
# from sklearn.metrics import accuracy_score
# from sklearn import tree
# for d in range(1,7):
#     tree_classifier = tree.DecisionTreeClassifier(max_depth=d)
#     tree_classifier.fit(train_data, train_labels)
#     scores = accuracy_score(test_labels, tree_classifier.predict(test_data))
#     print d
#     print scores
#     print

In [14]:
# from sklearn.metrics import accuracy_score
# from TreeClassifier import *
# for d in range(1,30):
#     tree_classifier = TreeClassifier(0.001, d, normalizer_mode="norm", fit_full_tree=True, print_debug=False)
# #     tree_classifier = TreeClassifier(0.001, d, normalizer_mode="dropSize", fit_full_tree=True, print_debug=False)
#     tree_classifier.fit(train_data, train_labels)
#     scores = accuracy_score(test_labels, tree_classifier.predict(test_data))
#     print d
#     print scores
#     print

In [15]:
# from sklearn import tree
# from sklearn.model_selection import cross_val_score

In [16]:
# from TreeClassifier import *

In [17]:
# for d in range(3,10):
#     tree_classifier = tree.DecisionTreeClassifier(max_depth=10)
#     scores = cross_val_score(tree_classifier, data, target, cv=5)
#     print d
#     print scores
#     print scores.mean()

In [18]:
# for d in range(3,15):
#     tree_classifier = TreeClassifier(0.001, d, normalizer_mode="norm", fit_full_tree=True, print_debug=False)
#     scores = cross_val_score(tree_classifier, data, target, cv=5)
#     print d
#     print scores
#     print scores.mean()
#     print